{{ partial "header.html" . }}

  <!-- Page Content -->
  <div class="container blog-post">

    <!-- Row -->
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs text-right">
        <h1 class="post-title">&nbsp;</h1>
          <em>{{ .Date.Format "Jan 2, 2006" }}</em><br />
          {{ if isset $.Params "tags" }}
          {{ $tagsLen := len $.Params.tags }}
          {{ if gt $tagsLen 0 }}
          <span class="post-tags">
            {{ range $k, $v := $.Params.tags }}
            <a class="post-tag" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>
            {{ if lt $k (sub $tagsLen 1) }} &bull; {{ if eq 0 $k }} {{ end}} {{ end }}
            {{ end }}
          </span>
          {{ end }}
          {{ end }}
        </p>
      </div>

      <div class="col-md-7">
        <h1 class="post-title">{{ .Title }}</h1>
        <div class="hidden-md hidden-lg post-metadata">
          <div>
            <em>{{ .Date.Format "Jan 2, 2006" }}</em>
          </div>
          {{ if isset $.Params "tags" }}
          {{ $tagsLen := len $.Params.tags }}
          {{ if gt $tagsLen 0 }}
          <p class="post-tags">
            {{ range $k, $v := $.Params.tags }}
            <a class="post-tag" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>
            {{ if lt $k (sub $tagsLen 1) }} &bull; {{ if eq 0 $k }} {{ end}} {{ end }}
            {{ end }}
          </p>
          {{ end }}
          {{ end }}
        </div>

        <div class="post-body">
          {{ .Content }}

          &nbsp;
        </div>

        <div>
          {{ partial "back-link" }}
        </div>
      </div>
    </div>
    <!-- /.row -->

{{ partial "footer.html" . }}
