@import url(https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat|Vollkorn:400,400italic,700);

.nav a, .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1, h2, h3, h4  {
  font-family: "Josefin Slab", serif;
}

h5, h6, p , a, li, blockquote, div {
  font-family: "Vollkorn", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: 400;
}

.blog-post > h2, .blog-post > h3 {
  font-family: "Vollkorn", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  letter-spacing: .025em;
}

h1.post-title {
  font-size: 1.8em;
}

body {
  padding-top: 70px;
}

.row {
  font-size: 14pt;
}

a {
  color: #E14658;
}

a:hover {
  color: #E14658;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5, h6 {
  font-size: 1em;
  font-weight: bold;
}

.img-circle {
  border-radius: 50%;
}

.floatright {
  float: right;
}

.list-indented {
  margin-left: .75em;
}

.list-hanging {
  padding-left: 1.25em;
	text-indent: -1.25em;
}

.more-link {
  font-size: .75em;
  font-weight: bold;
  font-family: "Josefin Slab";
  letter-spacing: 1px;
}

.epitaph {
  margin-top: 1em;
  font-style: italic;
  padding-bottom: 1.35em;
}

code {
  font-size: .8em;
}

pre code {
  font-size: 1.25em;
  font-family: "Inconsolata", Menlo, Courier New, Courier, Mono, monospace;
}

.post-tags {
  font-size: .85em;
  font-style: italic;
}

.navbar-default {
  background-color: #3F3250;
  border-color: #3F3250;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #CAEBF2;
}
.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #CAEBF2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #CAEBF2;
  background-color: #414141;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #CAEBF2;
  background-color: #414141;
}
.navbar-default .navbar-toggle {
  border-color: #414141;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #414141;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #CAEBF2;
}
