{{ partial "header.html" . }}

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-4 hidden-xs hidden-sm">
        A generic section list
      </div>
      <div class="col-md-6 col-md-offset-4 hidden-md hidden-lg text-right">
        A generic section list
      </div>
    </div>

    <!-- Row -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{- range first 10 .Data.Pages }}
          <a href="{{ .Permalink }}">{{ partial "post-summary" (dict "context" . "leftcols" "4" "rightcols" "7") }}</a>
        {{- end }}

        <div>
          {{ partial "back-link" }}
        </div>

      </div>
    </div>
    <!-- /.row -->

{{ partial "footer.html" . }}
