{{ partial "header.html" . }}

  <!-- Page Content -->
  <div class="container">

    <div class="row" style="padding-bottom: -20px;">
      <div class="col-md-8 col-md-offset-4">
        <p class="epitaph">
          &nbsp;
        </p>
      </div>
    </div>

    <hr>

    <!-- Row -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{- range first 10 .Data.Pages }}
          <a href="{{ .Permalink }}">{{ partial "post-summary" . }}</a>
        {{- end }}

        <div>
          <a href="{{ .Site.BaseURL }}"><i class="fa fa-arrow-left"></i> Home</a>
        </div>

      </div>
    </div>
    <!-- /.row -->

{{ partial "footer.html" . }}
