<footer style="padding-top: 1em;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          &nbsp;
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/prism.js"></script>
{{- if .Site.Params.statcounter }}
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project={{.Site.Params.statcounter.sc_project}};
var sc_invisible={{.Site.Params.statcounter.sc_invisible}};
var sc_security="{{.Site.Params.statcounter.sc_security}}";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/{{.Site.Params.statcounter.sc_project}}/0/{{.Site.Params.statcounter.sc_security}}/{{.Site.Params.statcounter.sc_invisible}}/" alt="web
analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
{{- end }}

</body>
</html>
