<div class="row">

  <div class="col-md-{{ .leftcols }}">

    <div class="hidden-sm hidden-xs">
      <div class="text-right">
        <a href="{{ .context.RelPermalink }}"><strong>{{ .context.Title }}</strong></a>
      </div>
      <div class="text-right">
        {{ partial "post-metadata" .context }}
      </div>
    </div>

    <div class="hidden-md hidden-lg">
      <div>
        <a href="{{ .context.RelPermalink }}"><strong>{{ .context.Title }}</strong></a>
      </div>
      <div>
        <em>{{ partial "post-metadata" .context }}</em>
      </div>
    </div>

  </div>

  <div class="col-md-{{ .rightcols }}" >
    {{ if .context.Truncated }}
    <p>
      {{ .context.Summary }}...
      <span style="white-space: nowrap;"><a href="{{ .context.RelPermalink }}">Read more <i class="fa fa-arrow-right"></i></a></span>
    </p>
    {{ else }}
    <p class="align-top">
      {{ .context.Content }}
    </p>
    {{ end }}
  </div>

</div>
