<div class="row">
  <div class="col-md-3">
    <div class="hidden-md hidden-sm hidden-xs">
      <div class="text-right">
        <a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a>
      </div>
      <div class="text-right">
        <em>{{ partial "post-metadata" . }}</em>
      </div>
    </div>
    <div class="hidden-lg">
      <div>
        <a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a>
      </div>
      <div>
        <em>{{ partial "post-metadata" . }}</em>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    {{ if .Truncated }}
    <p>
      {{ .Summary }}..
      <span style="white-space: nowrap;"><a href="{{ .RelPermalink }}">Read more <i class="fa fa-arrow-right"></i></a></span>
    </p>
    {{ else }}
    <p>
      {{ .Content }}
    </p>
    {{ end }}
  </div>
</div>
