<div class="row">

  <div class="col-md-4">

    <div class="hidden-sm hidden-xs">
      <div class="text-right">
        <a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a>
      </div>
      <div class="text-right">
        {{ partial "publication-metadata" . }}
      </div>
    </div>

    <div class="hidden-md hidden-lg">
      <div>
        <a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a>
      </div>
      <div>
        {{ partial "publication-metadata" . }}
      </div>
    </div>

  </div>

  <div class="col-md-7">
    {{ if .Truncated }}
    <p>
      {{ .Summary }}..
      <span style="white-space: nowrap;"><a href="{{ .RelPermalink }}">Read more <i class="fa fa-arrow-right"></i></a></span>
    </p>
    {{ else }}
    <p class="align-top">
      {{ .Content }}
    </p>
    {{ end }}
  </div>

</div>
