{{ partial "header.html" . }}

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-4 text-right">
        <p class="epitaph">
          {{ .Site.Params.blogepitaph | safeHTML }}
        </p>
      </div>
    </div>

    <!-- Row -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      </div>
      <div class="col-md-10 col-md-offset-1">

        {{- range first 10 .Data.Pages }}
          <a href="{{ .Permalink }}">{{ partial "post-summary" . }}</a>
        {{- end }}

        <div>
          <a href="{{ .Site.BaseURL }}"><i class="fa fa-arrow-left"></i> Home</a>
        </div>

      </div>
    </div>
    <!-- /.row -->


{{ partial "footer.html" . }}
